@font-face 
    font-family: 'Montserrat-Regular'
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype') 
    font-weight: 400
    font-style: normal

@font-face 
    font-family: 'Montserrat-Bold'
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype') 
    font-weight: 700
    font-style: normal

@font-face
    font-family: 'Myriad Pro'
    src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
    src: url('../fonts/MyriadPro-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'Roboto Slab Regular'
    src: url('../fonts/RobotoSlab-Regular.ttf') format('truetype') 
    font-weight: 400
    font-style: normal

@font-face 
    font-family: 'Roboto Slab Bold'
    src: url('../fonts/RobotoSlab-Bold.ttf') format('truetype')
    font-weight: 700
    font-style: normal
