doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        title STARTUP
    body 
    header.header
        .container 
            .header_menu 
                a(href="#hero").header_menu-logo Startup
                ul.header_menu-items 
                    li.header_menu-item 
                        a(href="#hero").header_menu-link Home
                    li.header_menu-item 
                        a(href="#service").header_menu-link Services
                    li.header_menu-item 
                        a(href="#about").header_menu-link About
                    li.header_menu-item 
                        a(href="#work").header_menu-link Works             
                    li.header_menu-item 
                        a(href="#blog").header_menu-link Blog
                    li.header_menu-item
                        a(href="#slider").header_menu-link Clients
                    li.header_menu-item
                        a(href="#contact").header_menu-link Contact
                button.header_menu-toggle(type="button")
                    span.header_menu-icon
                    span.header_menu-icon
                    span.header_menu-icon
                    span.header_menu-icon
    main
        section.hero#hero
            .hero_content
                h1.hero_content-title Welcome to startup
                p.hero_content-text Your Favourite Creative Agency Template
                a(href="#").hero_content-link Get Started
            .hero_form(action='registration', method='POST')
                div
                    label(for='nameregistr') Name:
                    input(type='text', id='nameregistr', name='name', required)               
                div.hero_box-btn
                    button(class='hero_form-btn' type='submit') >>>
        section.service.paddingblock#service
            .container 
                h2.service_title.subtitle Services
                p.service_text We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
                .service_items
                    .service_item
                        .service_item-img
                            img(src="img/icon/section-icon1.png", alt="icon1" class="change")
                        .service_item-subtitle Clean Typography
                        .service_item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
                    .service_item
                        .service_item-img.chit_click
                            img(src="img/icon/section-icon2.png", alt="icon2" class="change")
                        .service_item-subtitle Rock Solid Code
                        .service_item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
                    .service_item
                        .service_item-img 
                            img(src="img/icon/section-icon3.png", alt="icon3" class="change")
                        .service_item-subtitle Expert Support
                        .service_item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
        section.about.paddingblock#about
            .container
                h2.about_title.subtitle About us
                p.about_text Discover the Beauty of Nature’s Calm and Serenity
                .about_info-box
                    p.about_text The scenic views captivate with their beauty, and the fresh air brings a sense of freedom. Walks along rivers and forest paths let you forget the hustle of the city. Every step here is filled with peace and harmony with nature. A sense of calm flows through the soul, and all worries disappear against the backdrop of majestic landscapes. Every walk is a chance to discover new horizons.
                    p.about_text Walking through ancient streets, you are transported to another era. The feeling of history lingers in the air, filling every corner with new experiences. Every building has its own story, which you can feel in every brick. During your walk, you might discover small cozy cafés where time stands still, allowing you to enjoy the moment.
                .about_slider
                    .about_slider-item
                        .about_slider-media
                            img(src="img/Layer1.png", alt="photo team manager" class="about_slider-img")
                            .about_slider-social
                                a(href="#" class="icon-fb")
                                    img(src="img/icon/Facebook.png", alt="fb")
                                a(href="#" class="icon-google")
                                    img(src="img/icon/GooglePlusLogo.png", alt="google")
                                a(href="#" class="icon-twitter")
                                    img(src="img/icon/TwitterLogo.png", alt="twitter")
                                a(href="#" class="icon-linkedin")
                                    img(src="img/icon/linkedin.png", alt="linkedin")
                        h4.about_slider-subtitle Md. Khalil Uddin
                        p.about_slider-info Head of Ideas
                    .about_slider-item
                        .about_slider-media
                            img(src="img/Layer2.png", alt="photo team manager" class="about_slider-img")
                            .about_slider-social
                                a(href="#" class="icon-fb")
                                    img(src="img/icon/Facebook.png", alt="fb")
                                a(href="#" class="icon-google")
                                    img(src="img/icon/GooglePlusLogo.png", alt="google")
                                a(href="#" class="icon-twitter")
                                    img(src="img/icon/TwitterLogo.png", alt="twitter")
                                a(href="#" class="icon-linkedin")
                                    img(src="img/icon/linkedin.png", alt="linkedin")
                        h4.about_slider-subtitle Rubel Miah
                        p.about_slider-info Lead WordPress Developer
                    .about_slider-item
                        .about_slider-media
                            img(src="img/Layer3.png", alt="photo team manager" class="about_slider-img")
                            .about_slider-social
                                a(href="#" class="icon-fb")
                                    img(src="img/icon/Facebook.png", alt="fb")
                                a(href="#" class="icon-google")
                                    img(src="img/icon/GooglePlusLogo.png", alt="google")
                                a(href="#" class="icon-twitter")
                                    img(src="img/icon/TwitterLogo.png", alt="twitter")
                                a(href="#" class="icon-linkedin")
                                    img(src="img/icon/linkedin.png", alt="linkedin")
                        h4.about_slider-subtitle Shamim Mia
                        p.about_slider-info Sr. Web Developer
                    .about_slider-item
                        .about_slider-media
                            img(src="img/Layer4.png", alt="photo team manager" class="about_slider-img")
                            .about_slider-social
                                a(href="#" class="icon-fb")
                                    img(src="img/icon/Facebook.png", alt="fb")
                                a(href="#" class="icon-google")
                                    img(src="img/icon/GooglePlusLogo.png", alt="google")
                                a(href="#" class="icon-twitter")
                                    img(src="img/icon/TwitterLogo.png", alt="twitter")
                                a(href="#" class="icon-linkedin")
                                    img(src="img/icon/linkedin.png", alt="linkedin")
                        h4.about_slider-subtitle John Doe
                        p.about_slider-info Front-end Developer
                    button.btn-left
                        img(src="img/icon/fa-angle-left.png", alt="btn-left")
                    button.btn-right
                        img(src="img/icon/fa-angle-right.png", alt="btn-right")
        section.work.paddingblock#work
            .container 
                h2.work_title.subtitle Latest Works
                .work_btn
                    button.active(data-filter="work_item") All
                    button(data-filter="branding") Branding
                    button(data-filter="design") Design
                    button(data-filter="development") Development
                    button(data-filter="strategy") Strategy
                .work_items 
                    .work_item.strategy
                        img(src="img/work/GirlWork.png", alt="hair photo")
                        .work_item-hover
                            h5.work_item-subtitle Hair Dresser
                            p.work_item-name Branding
                            a(href="#" class="work_item-link") View
                                img(src="img/icon/fa-angle-red-left.png", alt="arrow")
                    .work_item.branding
                        img(src="img/work/SingleWork.png", alt="dove photo")
                        .work_item-hover
                            h5.work_item-subtitle Hair Dresser
                            p.work_item-name Branding
                            a(href="#" class="work_item-link") View
                                img(src="img/icon/fa-angle-red-left.png", alt="arrow")
                    .work_item.design.development
                        img(src="img/work/MacWork.png", alt="MacBook photo")
                        .work_item-hover
                            h5.work_item-subtitle Hair Dresser
                            p.work_item-name Branding
                            a(href="#" class="work_item-link") View
                                img(src="img/icon/fa-angle-red-left.png", alt="arrow")
                    .work_item.design
                        img(src="img/work/PhotoWork.png", alt="camera photo")
                        .work_item-hover
                            h5.work_item-subtitle Hair Dresser
                            p.work_item-name Branding
                            a(href="#" class="work_item-link") View
                                img(src="img/icon/fa-angle-red-left.png", alt="arrow")
                    .work_item.strategy.branding
                        img(src="img/work/BysWork.png", alt="")
                        .work_item-hover
                            h5.work_item-subtitle Hair Dresser
                            p.work_item-name Branding
                            a(href="#" class="work_item-link") View
                                img(src="img/icon/fa-angle-red-left.png", alt="arrow")
                    .work_item.development.strategy
                        img(src="img/work/BookWork.png", alt="")
                        .work_item-hover
                            h5.work_item-subtitle Hair Dresser
                            p.work_item-name Branding
                            a(href="#" class="work_item-link") View
                                img(src="img/icon/fa-angle-red-left.png", alt="arrow")
                    .work_item.strategy.development
                        img(src="img/work/GlassWork.png", alt="")
                        .work_item-hover
                            h5.work_item-subtitle Hair Dresser
                            p.work_item-name Branding
                            a(href="#" class="work_item-link") View
                                img(src="img/icon/fa-angle-red-left.png", alt="arrow")
                    .work_item.design.strategy.development
                        img(src="img/work/PicWork.png", alt="")
                        .work_item-hover
                            h5.work_item-subtitle Hair Dresser
                            p.work_item-name Branding
                            a(href="#" class="work_item-link") View
                                img(src="img/icon/fa-angle-red-left.png", alt="arrow")
                    .work_item.branding.design
                        img(src="img/work/TestWork.png", alt="")
                        .work_item-hover
                            h5.work_item-subtitle Hair Dresser
                            p.work_item-name Branding
                            a(href="#" class="work_item-link") View
                                img(src="img/icon/fa-angle-red-left.png", alt="arrow")
        section.offer 
            .offer_box
                h2.offer_title Do you like OUR WORK so far? <br> Let's talk about YOUR PROJECT!
                a(href="#form" class="offer_link") Get in Touch
        section.blog.paddingblock#blog
            .container
                h2.blog_title.subtitle Recent blog posts
                p.blog_text Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
                .blog_post
                    img(src="img/post-img1.png", alt="table desktop")
                    .blog_post-info
                        .blog_post-box
                            p.blog_post-data 18 <br> oct
                            .blog_post-content
                                h3.blog_post-title 
                                    span Startup ideas needs to be funded 
                                p.blog_post-text By <span> Khalil</span> Uddin in 
                                    span Development
                        p.blog_post-article Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur ut provident laborum minima earum sit tempora libero suscipit velit optio? Expedita at debitis, quia id reprehenderit necessitatibus quae et officia quam aperiam voluptate nesciunt labore! Repellat expedita rerum hic architecto.
                        button.blog_post-more 
                            span Read more
                hr
                .blog_post
                    img(src="img/post-img2.png", alt="table desktop")
                    .blog_post-info
                        .blog_post-box
                            p.blog_post-data 18 <br> oct
                            .blog_post-content
                                h3.blog_post-title Startup ideas needs to be funded 
                                p.blog_post-text By Khalil Uddin in Development
                        p.blog_post-article Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur ut provident laborum minima earum sit tempora libero suscipit velit optio? Expedita at debitis, quia id reprehenderit necessitatibus quae et officia quam aperiam voluptate nesciunt labore! Repellat expedita rerum hic architecto. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum numquam asperiores nam quod aut, aliquid voluptates dignissimos labore? Veniam voluptatum modi vitae, voluptatibus quo corrupti quae minus hic tempore accusamus repellat soluta ab obcaecati officia amet suscipit laudantium sequi cumque? 
                        button.blog_post-more Read more 
        section.slider.paddingblock#slider
            .slider_banner
                .slider_banner-content
                    span 
                        img(src="img/banner/Layer1.png", alt="logo deorham")
                        img(src="img/banner/Layer2.png", alt="logo ratings")
                        img(src="img/banner/Layer3.png", alt="logo malik media")
                        img(src="img/banner/Layer4.png", alt="logo bcause")
                        img(src="img/banner/Layer5.png", alt="logo wompily")
            .container
                .slider_quotes#slider_quotes
                    .slider_quote.show
                        p “Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum”
                        span John Doe, Google Inc.
                    .slider_quote
                        p “It does not matter how slowly you go as long as you do not stop. Success is a journey, not a destination. Stay consistent and you will see progress.”
                        span Confucius
                    .slider_quote
                        p “The only way to do great work is to love what you do. If you haven't found it yet, keep looking. Don't settle.”
                        span Steve Jobs
                    .slider_quote
                        p “Happiness is not something ready-made. It comes from your own actions. Small daily improvements lead to staggering long-term results.”
                        span Dalai Lama
                    .slider_quotes-dots
                        span.slider_quotes-dot.show(data-index="0")
                        span.slider_quotes-dot(data-index="1")
                        span.slider_quotes-dot(data-index="2")
                        span.slider_quotes-dot(data-index="3")
        section.contact.paddingblock#contact 
            .container
                h2.contact_title.subtitle Get in touch
                p.contact_text Contact us using the form below or through the address provided. We look forward to assisting you!
                .contact_info 
                    .contact_address 
                        .address
                            .address_img 
                                img(src="img/icon/map.png", alt="icon map") 
                                span Address
                            .address_info 
                                p 312, 7th Ave, New York
                                p NY 101200, United States of America
                        .telephone
                            .telephone-img
                                img(src="img/icon/phone.png", alt="icon phone")
                                span Hotline (24x7)
                            .telephone_number 
                                a(href="tel:+650052300") +65 0052 300
                                span , 
                                a(href="tel:+6588251210") +65 88251 210
                                br  
                                a(href="tel:+8801723511340") +88 01723 511 340
                        .mail
                            .mail_img 
                                img(src="img/icon/mail.png", alt="")
                                span E-mail
                            .mail_address 
                                a(href="mailto:khalilkode@gmail.com") khalilkode@gmail.com
                                a(href="mailto:shapedtheme@gmail.com") shapedtheme@gmail.com
                    form.contact_form(action="server", method="POST", id='form')
                        div.contact_form-group
                            label(for="name") 
                                input(type="text", id="name", name="name", placeholder="Your Name")
                            label(for="email") 
                                input(type="email", id="email", name="email", placeholder="Your E-mail")
                        div.contact_form-group
                            label(for="subject") 
                                input(type="text", id="subject", name="subject", placeholder="Your Subject")
                            label(for="company") 
                                input(type="text", id="company", name="company", placeholder="Company Name")
                        div.contact_form-massege
                            label(for="message") 
                                textarea(id="message", name="message", rows="4", placeholder="Write Your Message")
                        div.contact_form-btn
                            button(id="send" type="submit") Send Message
                            span 
                                span.red-star * 
                                | We’ll contact you as soon as possible. We don’t reply on Monday.
                        div.popup(id="popup")
                            p Please confirm the data
                            p Name: <span id="popup_name"></span>
                            p Email: <span id="popup_email"></span>
                            p Subject: <span id="popup_subject"></span>
                            p Company: <span id="popup_company"></span>
                            p Message: <span id="popup_message"></span>
                            p.popup_btn
                                button(id="popup_accept") Accept
                                button(id="popup_reject") Reject
        footer.footer.paddingblock 
            .footer_social.subtitle
                a(href="#")
                    img(src="img/icon/Facebook.png", alt="logo facebook")
                a(href="#") 
                    img(src="img/icon/GooglePlusLogo.png", alt="logo google plus")
                a(href="#")     
                    img(src="img/icon/TwitterLogo.png", alt="logo twitter")
                a(href="#") 
                    img(src="img/icon/linkedin.png", alt="logo linkeddin")
            .footer_text © 2015 Startup, Designed by ShapedTheme 
script(src="js/scripts.js")
